<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Panel testów</title>
  </head>
  <body>
    <h1>Panel testów</h1>
    <ul>
      <li th:each="quiz : ${quizzes}">
        <a th:text="${quiz.title}" th:href="@{/edit/{id}(id=${quiz.id})}"
          >Nazwa testu</a
        >
      </li>
    </ul>
    <form th:object="${quiz}" method="post">
      <label for="title">Tytuł testu:</label>
      <input type="text" name="title" />
      <button type="submit">Dodaj nowy test</button>
    </form>
  </body>
</html>
