<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">
  <head>
    <title>Login</title>
  </head>
  <body>
    <h1>Login</h1>
    <div th:if="${param.error}">Zły login lub hasło!</div>
    <div th:if="${param.logout}">Wylogowano!</div>
    <form th:action="@{/login}" method="post">
      <div>
        <label>Login: <input type="text" name="username" /> </label>
      </div>
      <div>
        <label> Hasło: <input type="password" name="password" /> </label>
      </div>
      <div><input type="submit" value="Zaloguj się" /></div>
    </form>
  </body>
</html>
